@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
  }
}
