.embla {
    position: relative;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    cursor: pointer;
  }
  
  .embla__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .embla__button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .embla__button--prev,
  .embla__button--next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .embla__dot {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .embla__dot--selected {
    background-color: #000;
  }
  
  .embla__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .embla__dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  